<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.cdnfonts.com/css/bowler" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Профиль</title>
</head>
<body>
    <div class="MainMVP">
        <div class="ContainerHeaner">
            <div class="LogoContainer">
                <div class="Logo">MVP</div>
                <div class="LogoText">Хакатон</div>
            </div>
    </div>
    <div class="TextProfil">Профиль</div>
    <div class="ListRegister">
        <div class="OneListReg">
            <div class="RegBlock">
                <div class="NameText">Имя</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Отчество</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Возраст</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Дата рождения</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Email</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
        </div>
        <div class="OneListReg">
            <div class="RegBlock">
                <div class="NameText">Фамилия</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Имя пользователя(ник)</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Пол</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Место проживания</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
            <div class="RegBlock">
                <div class="NameText">Номер телефона</div>
                <div class="NameInput"></div>
                <div class="Line"></div>
            </div>
        </div>
    </div>
        <div class="ButtonSave">
            <div class="ButtonMore">Сохранить</div>
        </div>
</body>
</html>